fastapi
uvicorn
python-multipart
python-dotenv
supabase
groq
pydantic
pydantic-settings
numpy
pandas
scikit-learn
joblib
spacy
sentence-transformers
python-docx
jinja2
python-jose[cryptography]
passlib[bcrypt]
gunicorn
